<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel=manifest href="/manifest.json">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.5, viewport-fit=cover">
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/logo.svg">
        <title>FileKey</title>
        <meta content="Encrypt and share files securely with passkeys. Fully offline, easy-to-use, and zero-knowledge for ultimate file protection." name="description">
        <meta content="FileKey" property="og:title">
        <meta content="Encrypt and share files securely with passkeys. Fully offline, easy-to-use, and zero-knowledge for ultimate file protection." property="og:description">
        <meta content="/imgs/main_card.png" property="og:image">
        <meta content="website" property="og:type">
        <meta content="FileKey" property="twitter:title">
        <meta content="Encrypt and share files securely with passkeys. Fully offline, easy-to-use, and zero-knowledge for ultimate file protection." property="twitter:description">
        <meta content="/imgs/main_card.png" property="twitter:image">
        <meta content="summary_large_image" name="twitter:card">
        <link href='/fonts/inter_variable.ttf' rel='preload' as='font' crossorigin/>
        <style>
{{CSS}}
        </style>
    </head>
    <body>
        <div id=drag_window>
            <div id=file_drag_zone></div>
        </div>
        <div id=main_window>
            <div id=logo_container>
                <div id=logo_bar></div>
            </div>
            <div id=chiz_container>
                <div id=chiz_hidden_click_container></div>
                <button id=theme_toggle type=button aria-label="Toggle dark mode"></button>
                <div id=chiz_icon_container></div>
                <div id=chiz_menu_container>
                    <div id=chiz_menu_inner>
                        <div id=chiz_list>
                            <span class=chiz_item id=chiz_clear_all>Reset</span>
                            <hr class=chiz_divider>
                            <span class=chiz_item id=chiz_how_it_works>How it Works</span>
                            <span class=chiz_item id=chiz_terms>Terms</span>
                            <span class=chiz_item id=chiz_privacy>Privacy</span>
                            <span class="chiz_item no_listen_event">
                                <a class="plain_menu_link no_select" href=https://github.com/jacaudi/filekey target=_blank>Source Code</a>
                            </span>
                            <span class="chiz_item no_listen_event">
                                <a class="plain_menu_link no_select" href=https://github.com/jacaudi/filekey/blob/main/LICENSE target=_blank>License</a>
                            </span>
                        </div>
                        <div id=version_container>
                            <span id=version_number_ele></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id=main_container>
                <div id=main_inner></div>
                <div id=outer_drop_container>
                    <div id=drop_container>
                        <input type="file" id="file_input">
                        <div class=dc_icon_container></div>
                        <div class=dc_txt_container>
                            <span class=file_title>Drag and Drop Files</span>
                            <span class=file_sub_title>or tap to select files to encrypt/decrypt</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
{{SCRIPT}}
        </script>
    </body>
</html>
