name: Docker Build

on:
  push:
    tags: ['v*.*.*']

permissions:
  contents: read
  packages: write

jobs:
  build:
    uses: jacaudi/github-actions/.github/workflows/docker-build.yml@v0.11.1
    with:
      registry: ghcr.io
      platforms: linux/amd64,linux/arm64
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}
