name: Semantic Release

on:
  push:
    branches: [main]

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    uses: jacaudi/github-actions/.github/workflows/semantic-release.yml@v0.11.1
