name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  go:
    uses: jacaudi/github-actions/.github/workflows/test.yml@main
    with:
      test-framework: go
      go-version: '1.26'
      working-directory: server
